<section class="hero">
  <app-header />

  <div class="hero-content">
    <div class="hero-text">
      <h1 class="hero-title">
        Transformando<br />
        processos em <br />
        <span class="highlight-gradient">multiplicadores</span><br />
        de resultados
      </h1>
      <p class="hero-description">
        Especialistas em tecnologia e apaixonados por<br />
        maximização da eficiência operacional.
      </p>
      <div class="hero-buttons">
        <a href="#" class="btn btn-primary">Começar Projeto</a>
        <a href="#" class="btn btn-secondary">Ver Portfólio</a>
      </div>
    </div>
  </div>
</section>
