<section class="hero">
  <app-header></app-header>

  <div class="hero-content">
    <div class="hero-text">
      <span class="hero-badge"><span class="hero-badge-inner">Tecnologia | Eficiência</span></span>

      <h1 class="hero-title">
        Transformando processos em <span class="highlight-gradient">multiplicadores</span> de resultados
      </h1>

      <p class="hero-description">
        Uma consultoria de especialistas em tecnologia e <br /> focados na
        maximização da eficiência operacional.
      </p>

      <div class="hero-buttons">
        <a href="#" class="btn btn-primary">Começar Projeto</a>
        <a href="#" class="btn btn-secondary">Ver Portfólio</a>
      </div>
    </div>
  </div>
</section>
