/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Phonk Font - Custom Font */
@font-face {
  font-family: 'Phonk';
  src: url('/fonts/Phonk.woff2') format('woff2'),
       url('/fonts/Phonk.woff') format('woff'),
       url('/fonts/Phonk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  background-color: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings font
h1, h2, h3, h4, h5, h6 {
  font-family: 'Phonk', 'Poppins', sans-serif;
}
